<section class="py-3 bg-light"> 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 col-xl-10">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="display-3 my-2">{{ titleFormShelter }}</h1>
                        <p class="text-h3">{{ paragraph }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include "shareblocks/errorMessages.html" %} {% comment %} loads error messages {% endcomment %}
                    </div>
                </div>
                <form class="form-signin" method="POST" enctype="multipart/form-data">
                    <div class="row align-items-center">
                    {% csrf_token %}
                        <div class="col-12 mt-4">
                            {{ form }}
                        </div>
                        {% if object.image.url %}
                        <div class="col-12 my-4 border-round">
                            <img id="pet-image-card" class="img-fluid rounded mb-3 mb-md-0 box-shadow" src="{{ object.image.url }}" alt="{{ s.name }}">
                        </div>
                        {% endif %}
                        <div class="container">
                            <div class="row justify-content-start mt-4">
                                <div class="col">
                                    <button class="btn btn-primary mt-4 btn-block">{{ buttonName }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>