{% extends "shareblocks/base.html" %}
{% block content %}

<section class="h-100 banner-area relative">
  <div class="p-3 container">
    <div class=" row fullscreen align-items-center justify-content-center">
      <div class="banner-left col-lg-6">
        <img class="w-100" src="/media/img/403.png" alt="403 Error">        
      </div>
      <div class="col-lg-6">
        <div class="story-content">
          <h1 class="error403">403 Error</h1>
          <h6 class="text-uppercase">The action you tried is forbidden for your user.</h6>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}