{% extends "shareblocks/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse min-vh-100">
        <div class="sidebar-sticky pt-3 font-weight-bolder">
          <ul class="nav flex-column">
            <li class="nav-item" >
              <a class="nav-link active" href="{% url 'profile-shelter' object.slug %}">Shelter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pets' object.slug %}">Pets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bg-danger" href="{% url 'delete-profile' object.slug %}">Delete Account</a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        {% block profile %}{% endblock profile %} 
      </main>
    </div>
  </div>
{% endblock content %}

{% load static %}
{% block js %}
    <script type="text/javascript" src="{% static 'mainApp/javascript/error.js' %}"></script>
    <script type="text/javascript" src="{% static 'mainApp/javascript/generalJquery.js' %}"></script>
{% endblock js %}
