<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
  <a class="navbar-brand" href="#"><i class="fa fa-paw text-dark" aria-hidden="true"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Shelters</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="#">Pets</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search your new friend">
    </form>
  </div>
</nav>