
<div class="pt-1 col-12">
  {% if linkTo %}
    <h3 class="display-4 text-center">
      <a class="removeHoverLink" href="{% url 'shelter-detail' linkTo.slug %}">{{CategoryName|title}}</a>
    </h3>
  {% else %}
    <h3 class="display-4 text-center">{{CategoryName|title}}</h3>
  {% endif %}
</div>

<div class="row mx-3 general-row justify-content-center">
  {% for pet in PetList %}
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pet-card">
    <a href="{% url 'pet-detail' pet.slug %}">
      <div class="card mb-4 box-shadow" >
        <img id="pet-image-card" class="card-img-top border border-rounded" alt="{{ pet.images.name }}" src="{{ pet.petMainPic}}">
        <div class="card-img-overlay text-left">
          <h4><span class="badge badge-primary {{ pet.status }}">{{ pet.status }}</span></h4>
          <div class="card-img-overlay d-flex align-items-end">
            <p class="badge badge-primary">{{ pet.shelter.name|title }}</p>
          </div>
        </div>
      </div>
    </a>
  </div> 
  {% endfor %}      
</div>