<div class="container">
    <h1 class="display-3">{{title}}</h1>
    {% for s in shelter %}
    <a class="removeHoverLink petShelter" href="{% url 'shelter-detail' s.slug %}">
        <div class="row my-4 p-2 border box-shadow">
            <div class="col-md-7">
                <img id="pet-image-card" class="img-fluid rounded mb-3 mb-md-0" src="{{ s.image.url }}" alt="{{ s.name }}">
            </div>
            <div class="col-md-5">
                <h3 class="h3 text-primary">{{ s.name|title }}</h3>
                <p>{{ s.about|capfirst }}</p>
                <p>Location: {{ s.location }}</p>
                <p>It holds {{ s.countPets }} animals.</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>