{% extends "shareblocks/base.html" %}
{% block content %}
<section class="py-3"> 
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-10 col-xl-10">
            <div class=" row fullscreen align-items-center justify-content-center">
                <div class="banner col-lg-12">
                    <h1 class="text-dark text-center font-weight-bold">Log out</h1>
                    <h4 class="text-muted text-center">You have been <b>logout</b>.</h4>
                    <h6 class="text-muted text-center">We'll see you back soon!</h6>
                  </div>
                  <!-- <img class="img-fluid" src="/media/img/logout.png" alt="Logout">    -->
              </div>
            </div>
        </div>
      </div>
</section>
{% endblock content %}