.card-img-top{
    height: 225px; 
    width: 100%; 
    display: block;
}

.badge-primary.Adopted{ 
    background-color: #31ad0c !important;
}

.badge-primary.Urgent{ 
    background-color: rgb(255, 100, 80)
}

.badge-primary.Adoption{ 
    background-color: #0c7aad
}

#box-shadow:hover{
    box-shadow: 0 6px 10px 0 rgba(61, 76, 80, 0.4), 0 6px 20px 0 rgba(24, 70, 99, 0.4)
}

.img-picture{
    background-color: rgba(144, 135, 135, 0.555);
    padding: 0;
    margin:0;
}

#home-carousel{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

#pet-image-card{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

#pet-card > a:visited, #pet-card > a:link, .removeHoverLink:visited, .removeHoverLink:link{
    color: black !important;
}

#pet-card > a:hover, .removeHoverLink:hover{
    text-decoration: none;
    color:#212529!important;
    /* color:#007bff!important ; */
}

.badge-tag-pets{
    background-color: #03a9f4;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Carousel for pet detail */
.img-carousel-shelter{
    width: auto; 
    max-width: 80%; 
    height: 450px;
}

@media only screen and (max-width: 740px) {
    .img-carousel-shelter{
        max-width: 100%; 
        height: 350px;
        padding-bottom: 1rem;
    }
  }